body {
	background-image: url(bg.jpg)
}
h1 {
	font-family: Showcard Gothic;
	font-size: 50px;
	color: #f0b29a;
	text-align: center;
	background-color: #f1c5c1;
	margin: 25px 50px 25px 100px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 10px dotted white
}
img {
	border: 4px solid;
}
table {
	color: white;
	border: solid #f1c5c1;
	font-family: Forte;
}
th {
	color: black;
	font-family: Forte;
}
h3 {
	font-family: Showcard Gothic;
	font-size: 20px;
	text-align: center;
	color: #f1c5c1;
	background-color: #f0b29a;
	margin: 15px 200px 15px 200px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 5px dotted white
}
p {
	background-color: white;
	margin: 15px 100px 15px 100px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px

}